a {
	color: $on-surface-07;
	text-decoration: none;
	font-family: $primary-font;
}

.nav-link:hover,
.nav-link:focus,
.navigation__iconbtn:hover,
.navigation__iconbtn:focus {
	color: rgba($color: $primary-hover, $alpha: 0.7);
}
.tooltip {
	@include primary-fonts(142%, normal, 0.8rem, $regular);
}

button,
.btn {
	color: $on-primary;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 1px;
	font-family: $primary-font;
	display: inline-block;
}
.button__primary,
.btn-primary {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 24px;
	background-color: $primary;
	color: $on-primary;
	@include primary-fonts(100%, 0.05em, $buttontext, $bold);
	text-transform: uppercase;
	transition: 0.25s;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15), 0px 0px 0px rgba(0, 0, 0, 0.3);

	&:hover,
	&:focus {
		color: $on-primary;
		background-color: $primary-hover;
		box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
	}
}

.btn-outline-primary {
	color: $primary;
	border-color: $border-hover;
}

// Navigation specific stuff

.navigation__hamburger {
	border-radius: 0;
}
.navigation__link {
	position: relative;
	padding-bottom: 2px !important;
	@include primary-fonts(100%, 0.1em, $buttontextslim, $medium);
	span {
		display: inline-block;
		min-height: 23px;
		position: relative;
	}
	&.active span::after {
		@include pseudoborders();
		background-color: $primary;
		height: 2px;
		bottom: 0;
	}
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

//* And customized by me though :) */
.hamburger {
	padding: 8px 15px 8px 0;
	display: inline-block;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
	&:focus {
		color: transparent !important;
		border-color: transparent !important;
	}
}
.hamburger:hover .hamburger-inner,
.hamburger:hover .hamburger-inner::before,
.hamburger:hover .hamburger-inner::after {
	background-color: rgba($color: $primary-hover, $alpha: 0.7);
}

.hamburger-box {
	width: 30px;
	height: 20px;
	display: inline-block;
	position: relative;
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	width: 30px;
	height: 3px;
	background-color: $on-surface-variant;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
	content: "";
	display: block;
}
.hamburger-inner::before {
	top: -10px;
}
.hamburger-inner::after {
	bottom: -10px;
}

.hamburger--squeeze .hamburger-inner {
	transition-duration: 0.075s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
	transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
	transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
	transform: rotate(45deg);
	transition-delay: 0.12s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
	top: 0;
	opacity: 0;
	transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
	bottom: 0;
	transform: rotate(-90deg);
	transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
