a {
	color: $on-surface-07;
	text-decoration: none;
	font-family: $primary-font;
}

.nav-link:hover,
.navigation__iconbtn:hover,
.navigation__iconbtn--signin:hover .layer-icon {
	color: rgba($primary-hover, $alpha: 0.7);
}

button,
#clear-button,
.navigation__link,
.navigation__iconbtn,
.navigation__logo-linkwrap {
	&:focus {
		outline: medium outset $primary;
		outline-offset: 5px;
		&:not(:focus-visible) {
			outline: none;
		}
	}
	&:focus-visible {
		outline: medium outset $primary;
	}
}

.offcanvas__btn {
	&:focus {
		outline: medium outset $primary;
		outline-offset: -4px;
		&:not(:focus-visible) {
			outline: none;
		}
	}
	&:focus-visible {
		outline: medium outset $primary;
	}
}

.button__primary {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 24px;
	background-color: $primary;
	color: $on-primary;
	@include primary-fonts(100%, 0.05em, $buttontext, $bold);
	text-transform: uppercase;
	transition: 0.25s;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15), 0px 0px 0px rgba(0, 0, 0, 0.3);

	.spinner-border {
		margin-right: 10px;
	}
	&.login-success {
		background-color: $primary;
	}
	&:not(:disabled):hover,
	&:not(:disabled):focus {
		color: $on-primary;
		background-color: $primary-hover;
		box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
	}
	&:not(.login-success):disabled {
		background-color: $gray;
		span {
			opacity: 0.7;
		}
	}
	&--outline {
		background-color: transparent;
		color: $primary;
		border: 2px solid $primary;
	}
	&.add-to-cart .fa-slash {
		display: none;
	}
	&.remove-from-cart,
	&.cards__delete,
	&.button__red {
		background-color: #cd4a47;
		color: $white;
		transition: 0.25s ease-in-out;
		&:not(:disabled):hover,
		&:not(:disabled):focus {
			background-color: rgba($color: $red, $alpha: 0.8);
			color: $on-surface;
		}
		& .fa-slash {
			display: block;
		}
	}
	& .fa-layers {
		margin-right: 10px;
	}
}

.navigation__counter {
	--fa-counter-background-color: #{$primary-shade4};
	--fa-inverse: #{$white};
	--fa-counter-scale: 1;
	--fa-right: -5px;
	--fa-top: -7px;
	transition: transform 0.25s ease-in;
	@include primary-fonts(100%, 0, 10px, $bold);
	&.changing {
		--fa-counter-scale: 3;
		transition: transform 0.25s ease-out;
	}
}
.navigation__iconbtn {
	padding: 6px;
	border-radius: 0;
	padding-bottom: 7px;
	color: $on-surface-07;
	line-height: 100%;
	&--signin {
		padding-right: 18px; // Adjust for layered icon
		.hide {
			display: none;
		}
		.layer-icon {
			color: $on-surface-07;
		}
	}
}
.tooltip {
	@include primary-fonts(142%, normal, 0.8rem, $regular);
}

button,
.btn {
	color: $on-surface;
	background-color: transparent;
	border: 1px solid transparent;
	// border-radius: 1px;
	font-family: $primary-font;
	display: inline-block;
}
.btn-outline-secondary {
	border-color: $on-surface;
}
.btn-outline-primary {
	color: $primary;
	border-color: $border-hover;
}

// Navigation specific stuff
.offcanvas__btn {
	@include primary-fonts(100%, 0.1em, $navtext, $medium);
	@include verticalButtonMenu(30px);
}
.super-secret .fa-question,
.super-secret .svg-inline--fa {
	display: block !important;
	font-size: 20px;
}
.super-secret {
	margin-top: 0;
	align-items: center;
}
.super-secret.active .nav-link {
	position: relative;
	margin-top: 0;
	margin-bottom: 10px;
	padding-bottom: 6px;
	&::after {
		@include pseudoborders();
		background-color: $primary;
		height: 2px;
		bottom: 0;
	}
}
.button__create {
	padding: 15px 18px 15px 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	& span {
		margin-right: 10px;
	}
}
.navigation__link {
	@include primary-fonts(100%, 0.1em, $navtext, $medium);
	.fal,
	.far,
	.fas,
	.svg-inline--fa {
		display: none;
	}

	@media only screen and (max-width: 767.8px) {
		@include verticalButtonMenu(var(--margin));
	}
	@media only screen and (min-width: 767.8px) {
		span {
			display: inline-block;
			min-height: 23px;
			position: relative;
		}
		&.active span::after {
			@include pseudoborders();
			background-color: $primary;
			height: 2px;
			bottom: 0;
		}
	}
}

.hamburger {
	padding: 8px 15px 8px 0;
	display: inline-block;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	margin: 0;
	overflow: visible;
	&:focus {
		color: transparent !important;
		border-color: transparent !important;
		outline: auto;
		&:not(:focus-visible) {
			outline: none;
		}
	}
	&:focus-visible {
		outline: auto;
	}
	&:hover &__inner,
	&:hover &__inner::before,
	&:hover &__inner::after {
		background-color: rgba(103, 187, 169, 1);
	}

	&__box {
		width: 30px;
		height: 20px;
		display: inline-block;
		position: relative;
	}

	&__inner {
		display: block;
		top: 50%;
		margin-top: -2px;
		transition-duration: 0.075s;
		transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	&__inner,
	&__inner::before,
	&__inner::after {
		width: 30px;
		height: 3px;
		background-color: $on-surface-variant;
		position: absolute;
		transition-property: transform;
		transition-duration: 0.15s;
		transition-timing-function: ease;
	}
	&__inner::before,
	&__inner::after {
		content: "";
		display: block;
	}
	&__inner::before {
		top: -10px;
		transition: top 0.075s 0.12s ease, opacity 0.075s ease;
	}
	&__inner::after {
		bottom: -10px;
		transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	&:not(.collapsed) &__inner {
		transform: rotate(45deg);
		transition-delay: 0.12s;
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	&:not(.collapsed) &__inner::before {
		top: 0;
		opacity: 0;
		transition: top 0.075s ease, opacity 0.075s 0.12s ease;
	}
	&:not(.collapsed) &__inner::after {
		bottom: 0;
		transform: rotate(-90deg);
		transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
	}
}
