html {
	font-size: 16px;
}
::-webkit-scrollbar {
	background: rgba($color: $surface-hue, $alpha: 0.4);
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: $black;
}
body {
	overflow: overlay;
}
body {
	background-color: $surface;
	color: $on-surface;
	font-family: $primary-font;
}
%layoutwidth {
	width: auto;
	margin-left: 10px;
	margin-right: 10px;
	@include body-layout(600px, 32px, auto);
	@include body-layout(905px, auto, 840px);
	@include body-layout(1040px, 100px, auto);
	@include body-layout(1240px, 156px, auto);
	@include body-layout(1440px, auto, 1126px);
	@include body-layout(1680px, auto, 1368px);
}

.navigation {
	width: 100%;
	&__navbar {
		@extend %layoutwidth;
	}
}
.hero,
.info,
.footer,
.cards,
.toolbar,
.product {
	width: 100%;
	&__content {
		@extend %layoutwidth;
	}
}
