.main--product {
	background-image: $hero-gradient;
	height: 900px;
}
.product {
	padding-top: 100px;
	padding-bottom: 150px;
	&__pricelabel {
		@extend .cards__pricelabel;
		margin-bottom: 0;
		margin-top: auto;
	}
	&__price {
		margin-right: auto;
		margin-bottom: 0;
		@include primary-fonts(150%, 0.1px, $cardtitle, $bold);
	}
	&__body {
		margin-bottom: auto;
	}
	&__contentwrap {
		display: flex;
		flex-flow: column;
	}
	&__footer {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		& .button__primary {
			max-height: 40px;
			max-width: 200px;
		}
		& .cards__favourite {
			margin-right: 10px;
		}
	}
}
