.toolbar {
	position: relative;
	z-index: 10;
	background-color: $surface-variant;
	border: {
		top: 1px solid rgba($on-surface, 0.1);
		bottom: 1px solid rgba($on-surface, 0.1);
	}
	.suggestions {
		position: absolute;
		display: none;
		left: 0;
		right: 0;
		list-style: none;

		padding-left: 0;
		&.shown {
			display: block;
		}
		&__value {
			cursor: pointer;
			background-color: rgba($color: $black, $alpha: 0.9);
			padding: 14px 14px;
			padding-left: 14px;
			padding-top: 14px;
			@include primary-fonts(150%, 0.06em, $bodytext);
			&:hover,
			&:focus {
				background-color: rgba($color: $primary-shade4, $alpha: 0.9);
			}
		}
	}
}
.cards--dashboard {
	background-image: $hero-gradient;
}
.cards__sectiontitle--shop {
	margin: 0;
	width: 100%;
	height: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	background-image: $hero-gradient;
}
.cards--shop {
	padding-top: 0;
}
